@font-face {
    font-family: 'Apollo';
    src: url(../../media/Fonts/APOLLO.otf);
}

@font-face {
    font-family: 'TS';
    src: url(../../media/Fonts/TIMESS__.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;

    font-family: 'Apollo', sans-serif;
}

:root {
    --default-icon-color: #4D869C;
    --nav-background: #EEF7FF;
    --hovered-background-color: #4D869C;
    --hovered-icon-color: #EEF7FF
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

body .wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;


}

/* NAV */
nav {
    height: 10%;
    width: 100%;

    background-color: var(--nav-background);
    transition: background-color 0.3s ease-in-out;
    box-shadow: 1px 3px 2px 1px rgba(255, 255, 255, 0.4);
    display: flex;

    overflow: hidden;
    user-select: none;
}
/* END NAV */


/* BUTTON BOX */
nav #nav-button-box{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background-color: blue; */
}

#nav-button-box .button-container {
    width: calc(100%/3);
    height: 100%;

    display: flex;
    /* justify-content: center; */
    align-items: center;

    /* background-color: red; */
}

.button-container a {
    text-decoration: none;
    color: var(--default-icon-color);
    transition: color .3s ease-in-out;

    margin: 5px;
}

.button-container a:hover,
.button-container a.active {
    color: var(--hovered-icon-color);
    transition: color .3s ease-in-out;

    background-color: var(--hovered-background-color);
    transition: background-color 0.3s ease-in-out;

}

#left a {
    height: 90%;
    width: 33.3%;

    display: grid;
    place-items: center;

    border-radius: 34.5px 10px 10px 10px;
}

#center a{
    height: 90%;
    width: 33.3%;

    display: grid;
    place-items: center;

    border-radius: 20px;
}

#right {
    justify-content: flex-end;
    /* background-color: aqua; */
}

#right #nav-avt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    /* background-color: red; */
}

#nav-avt .avt-info {
    border-radius: 10px;
}

#right #nav-avt .user-name {
    color: var(--default-icon-color);
    transition: color .3s ease-in-out;

    padding: 3px;
}

#right #nav-avt .avt-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    border: 3px solid var(--default-icon-color);
    transition: border .3s ease-in-out;

}

#right a {
    height: 90%;
    width: 33.3%;

    display: grid;
    place-items: center;

    border-radius: 10px 34.5px 10px 10px;
}




/* IFRAME */
.wrapper #home-container {
    width: 100%;
    height: 90%;
}








/* ICONS */
a > div > i {
    font-size: 34px;
}