* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

body .wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;


}

/* NAV */
nav {
    height: 10%;
    width: 100%;

    background-color: #E9EFEC;
    box-shadow: 1px 3px 2px 1px rgba(255, 255, 255, 0.4);
    display: flex;

    overflow: hidden;
    user-select: none;
}
/* END NAV */


/* BUTTON BOX */
nav #nav-button-box{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background-color: blue; */
}

#nav-button-box .button-container {
    width: calc(100%/3);
    height: 100%;

    display: flex;
    /* justify-content: center; */
    align-items: center;

    /* background-color: red; */
}

.button-container a {
    text-decoration: none;
    color: #6A9C89;

    margin: 5px;
}

.button-container a:hover,
.button-container a.active {
    color: #E9EFEC;
    background-color: #16423C;
}

#left a {
    height: 90%;
    width: 33.3%;

    display: grid;
    place-items: center;

    border-radius: 34.5px 10px 10px 10px;
}

#center a{
    height: 90%;
    width: 33.3%;

    display: grid;
    place-items: center;

    border-radius: 20px;
}

#right {
    justify-content: flex-end;
    /* background-color: aqua; */
}

#right #nav-avt {
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: red; */
}

#nav-avt .avt-info {
    border-radius: 10px;
}

#right #nav-avt .user-name {
    color: #6A9C89;
    padding: 3px;
}

#right #nav-avt .avt-info:hover {
    color: #16423C;
    background-color: #6A9C89;
    color: #E9EFEC;
}

#right #nav-avt .avt-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #6A9C89;
}

#right a {
    height: 90%;
    width: 33.3%;

    display: grid;
    place-items: center;

    border-radius: 10px 34.5px 10px 10px;
}




/* IFRAME */
.wrapper #home-container {
    width: 100%;
    height: 90%;
}








/* ICONS */
a > div > i {
    font-size: 34px;
}