* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

body .wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;


}

nav {
    height: 10%;
    width: 100%;

    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 1px 3px 2px 1px rgba(255, 255, 255, 0.4);
    display: flex;

    overflow: hidden;
}

nav #nav-avt{
    width: 20%;
    height: 100%;
    background-color: aqua;
}

nav #nav-button-box{
    width: 80%;
    height: 100%;

    /* background-color: blue; */

    display: flex;
    justify-content: center;
    align-items: center;

}

nav #button-container {
    width: 60%;
    height: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

nav #button-container > #nav-button-item {
    width: 25%;
    margin: 0 10px;
}

nav #nav-button-box #nav-button-item {
    width: 15%;
    height: 100%;

    margin: 0 10px;
    /* background-color: chartreuse; */

    display: flex;
    justify-content: center;
    align-items: center;
}

nav #nav-button-box > #nav-button-item:nth-child(1) {
    /* justify-self: flex-start; */
    width: 20%;
    margin-right: 20px;
    margin-left: 0;
}

nav #nav-button-box > #nav-button-item:nth-last-child(1){
    width: 10%;
    margin-right: 5px;
    margin-left: 100px;
    /* background-color: aqua !important; */
}

.wrapper #home-container {
    width: 100%;
    height: 90%;

    background-color: red;
}

a > div > i {
    font-size: 34px;
}

#nav-button-item:hover > div{
    background-color: rgba(255, 255, 255, 0.4);
}