@font-face {
    font-family: 'Apollo';
    src: url(../../media/Fonts/APOLLO.otf);
}

@font-face {
    font-family: 'TS';
    src: url(../../media/Fonts/TIMESS__.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;

    font-family: 'Apollo', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #EEF7FF;
    overflow: hidden;
}

body .wrapper {
    width: 97%;
    height: 94%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

/* HEADER EFFECT */
:root {  
    --purple: #0B2F9F;
    --violet: #98DED9;
    --pink: #C7FFD8;
}
  
@keyframes background-pan {
    from {
      background-position: 0% center;
    }
    
    to {
      background-position: -200% center;
    }
}
  
@keyframes scale {
    from, to {
      transform: scale(0);
    }
    
    50% {
      transform: scale(1);
    }
}
  
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    
    to {
      transform: rotate(180deg);
    }
}

/* PULSE STATIC EFFECT */

/* HEADER */
.wrapper .title {
    grid-column: span 3;
    grid-row: span 1;
    
    width: 100%;
    height: 100%;

    display: flex;

    /* background-color: #B4D4FF; */
    background-image: url(../../media/UserInfo/TitleBG.png);
    background-size: cover;
    background-position: center;
    box-shadow: -1px 1px 123px 0px rgba(0,0,0,0.83) inset;
    -webkit-box-shadow: -1px 1px 123px 0px rgba(0,0,0,0.83) inset;
    -moz-box-shadow: -1px 1px 123px 0px rgba(0,0,0,0.83) inset;

    border-radius: 40px;

    overflow: hidden;
}

h1 {
    color: #EEF7FF;
    font-size: 2.2em;
    font-weight: 700;
    margin: 0px;
}
  
h1 > .magic {
    display: inline-block;
    position: relative;
}
  
h1 > .magic > .magic-star {
    --size: clamp(20px, 1.5vw, 30px);
    
    animation: scale 700ms ease forwards;
    display: block;
    height: var(--size);
    left: var(--star-left);
    position: absolute;
    top: var(--star-top);
    width: var(--size);
}
  
h1 > .magic > .magic-star > svg {
    animation: rotate 1000ms linear infinite;
    display: block;
    opacity: 0.9;
}
  
h1 > .magic > .magic-star > svg > path {
    fill: var(--violet);
}
  
h1 > .magic > .magic-text {
    animation: background-pan 4s linear infinite;
    background: linear-gradient(
      to right,
      var(--purple),
      var(--violet),
      var(--pink),
      var(--purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;

    font-weight: 800;
}

h2 {
    color: #EEF7FF;
    font-size: 1.7em;
    font-weight: 400;
    margin: 0px;
}

.title #label {
    height: 100%;
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 30px;

    transform: translateY(-20px);
}






/* CALENDAR */
.title .calendar {
    height: 100%;
    width: 30%;

    display: flex;
    gap: 10px;
    align-items: center;

    transform: translateY(30px);
}

.datetime-container {
    color: #176B87;
    
    display: flex;
    align-items: center;
    gap: 10px;

    background-color: #EEF5FF24;
    backdrop-filter: blur(1.8px);
    -webkit-backdrop-filter: blur(1.8px);
    padding: 10px 10px;
    border-radius: 16px;
}






/* DIET */
.diet {
    grid-column: span 1;
    grid-row: span 1;

    background-image: url("../../media/UserInfo/DietBGs/Keto.png");
    background-size: cover;
    background-position: center;
    box-shadow: -1px 1px 20px 0px rgba(0,0,0,0.83) inset;
    -webkit-box-shadow: -1px 1px 20px 0px rgba(0,0,0,0.83) inset;
    -moz-box-shadow: -1px 1px 20px 0px rgba(0,0,0,0.83) inset;

    border-radius: 40px;
}






/* WATER */
.water {
    grid-column: span 2;
    grid-row: span 2;
    
    background-image: url(../../media/UserInfo/WaterBG.png);
    background-size: 100%;
    background-position: center;
    box-shadow: -1px 1px 20px 0px rgba(0,0,0,0.83) inset;
    -webkit-box-shadow: -1px 1px 20px 0px rgba(0,0,0,0.83) inset;
    -moz-box-shadow: -1px 1px 20px 0px rgba(0,0,0,0.83) inset;
    border-radius: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-size 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.water:hover {
    background-size: 105%;
    box-shadow: -1px 1px 123px 0px rgba(0,0,0,0.83) inset;
    -webkit-box-shadow: -1px 1px 123px 0px rgba(0,0,0,0.83) inset;
    -moz-box-shadow: -1px 1px 123px 0px rgba(0,0,0,0.83) inset;
}

.water .current-amount {
    width: 100%;
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.current-amount .current-water {
    font-size: 8em;
    font-weight: 900;
    color: #F1FADA;
    text-shadow: 0px 0px 11px #265073;

    transition: font-size 0.3s ease-in-out, text-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}

.water:hover .current-water {
    font-size: 8.6em;
    color: #2D9596;
    text-shadow: 0px 0px 51px #9AD0C2;
}

.current-amount #ml {
    font-size: 1.5em;
    font-weight: 900;
    color: #F1FADA;
    text-shadow: 0px 0px 11px #265073;

    transition: font-size 0.3s ease-in-out, text-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}

.water:hover #ml {
    font-size: 1.9em;
    color: #2D9596;
    text-shadow: 0px 0px 51px #9AD0C2;
}









.water:hover .reminder-box {
    scale: 1.1;
}

.water .reminder {
    width: 100%;
    height: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.reminder .reminder-box {
    width: 40%;
    height: 40%;

    background: rgba(146, 199, 207, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.8px);
    -webkit-backdrop-filter: blur(1.8px);

    display: grid;
    place-items: center;

    scale: 1;
    transition: scale 0.3s ease-in-out;
}

.reminder-box a {
    width: 100%;
    height: 100%;

    text-decoration: none;
    color: #FBF9F1;

    font-size: 1.1em;
    font-weight: 900;

    position: relative;
    overflow: hidden;
    display: inline-block;
}

.reminder-box a #text, 
.reminder-box a #arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s cubic-bezier(.01,.88,.5,1.01), left 0.3s cubic-bezier(.01,.88,.5,1.01);
}

.reminder-box a #text {
    left: 50%;
    transform: translate(-50%, -50%);
}

.reminder-box a #arrow {
    left: 150%;
    transform: translate(-50%, -50%);
}

.reminder-box a:hover { 
    color: #FBF9F1;
    text-shadow: rgb(146, 199, 207) 0px 0px 40px;
}

.reminder-box:hover {
    background: rgba(251, 249, 241, 0.44);
    border-radius: 16px;
    box-shadow: 0 4px 15px #E5E1DA50;
    backdrop-filter: blur(1.8px);
    -webkit-backdrop-filter: blur(1.8px);
}

.reminder-box a:hover #text {
    transform: translate(-300%, -50%);
}

.reminder-box a:hover #arrow {
    left: 50%;
    transform: translate(-50%, -50%);
}

/* SLEEP */
.sleep {
    grid-column: span 2;
    grid-row: span 2;

    background-image: url(../../media/UserInfo/SleepBG.png);
    background-size: 100%;
    background-position: center;

    box-shadow: -1px 1px 20px 0px rgba(0,0,0,0.83) inset;
    -webkit-box-shadow: -1px 1px 20px 0px rgba(0,0,0,0.83) inset;
    -moz-box-shadow: -1px 1px 20px 0px rgba(0,0,0,0.83) inset;
    border-radius: 40px;
    transition: background-size 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    position: relative;
    overflow: hidden;
}

.sleep:hover {
    background-size: 105%;
    box-shadow: -1px 1px 123px 0px rgba(0,0,0,0.83) inset;
    -webkit-box-shadow: -1px 1px 123px 0px rgba(0,0,0,0.83) inset;
    -moz-box-shadow: -1px 1px 123px 0px rgba(0,0,0,0.83) inset;
}

.sleep .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(238, 247, 255, 0.15);
    border-radius: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 20;
}

.sleep .overlay .circle {
    width: 100px;
    height: 100px;

    background-color: #4D869C;
    box-shadow: 0 0 10px #CDE8E510;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: #EEF7FF;
    font-size: 2.5em;
    font-weight: 900;

    scale: 1;
    transition: scale 0.3s ease-in-out, 
                font-size 0.3s ease-in-out, 
                background-color 0.3s ease-in-out;
}

.sleep:hover .overlay {
    opacity: 1;
}

.overlay .circle:hover {
    scale: 1.1;
    font-size: 2.1em;

    background-color: #7AB2B2;
}

.sleep .sleep-time {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #EEF7FF;

    z-index: 10;
}

.sleep-time .bedtime {
    font-size: 3em;
    font-weight: 400;
    position: absolute;
    top: 13%;
    left: 10%;

    color: #4D869C;
    text-shadow: 0px 0px 11px #4D869C;

    z-index: 9;
    transition: font-size 0.3s ease-in-out;

}

.sleep-time .time-number {
    font-size: 12em;
    font-weight: 900;
    font-style: italic;

    position: absolute;
    top: 53.5%;
    left: 48%;
    transform: translate(-50%, -50%);
    text-shadow: 
        -1px -1px 0 #4D869C70,  
        1px -1px 0 #4D869C70,   
        -1px 1px 0 #4D869C70,   
        1px 1px 0 #4D869C70,
        -2px -2px 0 #4D869C70,  
        2px -2px 0 #4D869C70,
        -2px 2px 0 #4D869C70,
        2px 2px 0 #4D869C70,
        -2px 0 0 #4D869C70,
        2px 0 0 #4D869C70,
        0 -2px 0 #4D869C70,
        0 2px 0 #4D869C70,
        -3px -3px 0 #4D869C70,  
        3px -3px 0 #4D869C70,
        -3px 3px 0 #4D869C70,
        3px 3px 0 #4D869C70,
        -3px 0 0 #4D869C70,
        3px 0 0 #4D869C70,
        0 -3px 0 #4D869C70,
        0 3px 0 #4D869C70;

    z-index: 10;

    transition: font-size 0.3s ease-in-out;
}

.sleep:hover .time-number {
    font-size: 12.7em;
}

.sleep:hover .bedtime,
.sleep:hover .am-pm {
    font-size: 2.7em;
}

.sleep-time .am-pm {
    font-size: 3em;
    font-weight: 400;
    position: absolute;
    bottom: 12%;
    right: 10%;

    color: #4D869C;
    text-shadow: 0px 0px 11px #4D869C;

    z-index: 9;

    transition: font-size 0.3s ease-in-out;
}
