.button {
    -fx-background-color: #66ff66;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px;
}

.label {
    -fx-font-size: 14px;
    -fx-padding: 10px;
}

.text-field {
    -fx-font-size: 12px;
    -fx-padding: 5px;
}
