<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sleep Reminder</title>
  <link rel="stylesheet" href="../../static/css/sleep.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <div class="wrapper">
    <div class="tab">
      <h2>Sleep Reminder</h2>
      <label for="bedtime">Bedtime:</label>
      <input type="text" id="bedtime" class="time-picker">
      <label for="waketime">Wake Time:</label>
      <input type="text" id="waketime" class="time-picker">
      <button id="set-reminder">Set Reminder</button>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="../../static/js/sleep.js"></script>
</body>
</html>