@font-face {
    font-family: 'Apollo';
    src: url(../../media/Fonts/APOLLO.otf);
}

@font-face {
    font-family: 'TS';
    src: url(../../media/Fonts/TIMESS__.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;

    font-family: 'Apollo', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    background-image: url(../media/pexels-jplenio-2259232.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    margin: 0;
    font-family: Arial, sans-serif;
}

.wrapper {
    width: 80vw;
    height: 90vh;

    display: flex;
    flex-direction: column;
    border-radius: 40px;
    overflow: hidden;

    background: rgba(35, 45, 63, 0.51);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.4px);
    -webkit-backdrop-filter: blur(10.4px);

    position: relative;
}

.wrapper .nav-bar {
    width: 100%;
    height: 10%;

    background-color: red;
}