<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Diary</title>

    <link rel="stylesheet" href="../static/css/main.css">
    
</head>
<body>
    <nav>
        <div id="nav-logo"></div>
        <div id="nav-button-box">
            <div id="nav-button-item"></div>
            <div id="nav-button-item"></div>
            <div id="nav-button-item"></div>
            <div id="nav-button-item"></div>
            <div id="nav-button-item"></div>
        </div>
        <div id="nav-avt"></div>
    </nav>
    <main>
        <iframe src="html/userinfo.html" frameborder="0" id="container"></iframe>
    </main>
</body>
</html>